/* Переменные */

:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent: #2196f3;
  --button-hover: #188ce8;
  --logo-color: #000000;
  --input-text-color: #000000;
  --invert-text-color: #ffffff;
  --third-text-color: rgba(255, 255, 255, 0.6);
  --third-background-color: #2f303a;
  --header-border: #ececec;
  --card-set-gap: 30px;
  --icon-color: #afb1b8;
  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Общие стили и стили для сброса */
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.title {
  color: var(--secondary-text-color);
  margin: 0;
}

.text {
  margin: 0;
}

.link {
  text-decoration: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

/* Хедер */
.page-header {
  border-bottom: 1px solid var(--header-border);
}

.page-header > .container {
  display: flex;
  align-items: center;
}

.page-header nav {
  display: flex;
  align-items: center;
}

.page-header .logo {
  margin-right: 93px;
}

.logo-accent {
  color: var(--accent);
}

.logo-main {
  color: var(--logo-color);
}

.site-nav,
.contact-nav {
  display: flex;
  margin-left: auto;
}

.site-nav .item:not(:last-child),
.contact-nav .item:not(:last-child) {
  margin-right: 50px;
}

.icon-nav {
  fill: currentColor;
  margin-right: 10px;
}

.site-nav .link {
  display: inline-block;

  color: var(--secondary-text-color);

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--main-transition);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent);
}

.site-nav .current {
  position: relative;
  color: var(--accent);
}

.site-nav .current::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--accent);
}

.contact-nav .link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition: color var(--main-transition);
}

.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent);
}

/* Футер */
.footer {
  background-color: var(--third-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer .contact {
  margin-right: 70px;
}

.footer .link.logo {
  display: inline-block;
  margin-bottom: 20px;
}

.logo-invert {
  color: var(--invert-text-color);
}

.footer-contacts {
  font-style: normal;
}

.footer-contacts .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts .link {
  color: var(--third-text-color);
  transition: color var(--main-transition);
}

.footer-contacts .link:hover,
.footer-contacts .link:focus {
  color: var(--accent);
}

.footer-contacts .address {
  color: var(--invert-text-color);
}

.footer .social{
  margin-right: 93px;
}

.social .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
  color: var(--invert-text-color);
  margin-bottom: 20px;
}

.social-list {
  display: flex;
}

.footer .icon-box {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color var(--main-transition);
}

.footer .icon-box:not(:last-child) {
  margin-right: 10px;
}

.footer .icon-box > .link {
  display: flex;
  fill: var(--invert-text-color);
}

.footer .icon-box:hover {
  background-color: var(--accent);
}

/* Герой */
.hero {
  background-color: var(--third-background-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-bg.jpg');
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;

  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--invert-text-color);

  margin-top: 0;
  margin-bottom: 34px;
  margin-left: auto;
  margin-right: auto;

  width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  background-color: var(--accent);
  border-radius: 4px;
  border-color: transparent;
  color: var(--invert-text-color);
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  transition: background-color var(--main-transition);
}

.button:hover {
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--button-hover);
}

/* Преимущества */
.benefits .list {
  display: flex;
}

.benefits .item {
  width: 270px;
}

.benefits .item:not(:last-child) {
  margin-right: 30px;
}

.benefits-icon {
  background-color: var(--secondary-background-color);
  width: 270px;
  height: 120px;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.benefits .title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.benefits .text {
  line-height: 1.7;
}

/* Чем мы занимаемся */
.about-us {
  padding-top: 0%;
}

.about-us .list {
  display: flex;
}

.about-us .item:not(:last-child) {
  margin-right: 30px;
}

.about-us .title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.about-us .item {
  position: relative;
}

.about-us .text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 5px;

  background: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--invert-text-color);
}

/* Команда */
.command {
  background-color: var(--secondary-background-color);
}

.command .list {
  display: flex;
}

.command .title {
  font-weight: 700;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.command-card {
  width: 270px;

  background: var(--primary-background-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command-card:not(:last-child) {
  margin-right: 30px;
}

.command-card .photo {
  margin-bottom: 30px;
}

.command-card .title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.command-card .text {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 16px;
}

.command-social {
  display: flex;
  width: 206px;
  margin: 0 auto 30px;
}

.command-icon-box:not(:last-child) {
  margin-right: 10px;
}

.command-icon-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--main-transition);
}

.command-icon {
  fill: var(--icon-color);
  transition: fill var(--main-transition);
}

.command-icon-link:hover {
  background-color: var(--accent);
}

.command-icon-link:hover > .command-icon {
  fill: var(--invert-text-color);
}

/* Клиенты */
.clients .title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--secondary-text-color);
}

.clients.list {
  display: flex;
}

.clients-icon-box:not(:last-child) {
  margin-right: 30px;
}

.clients-icon-link {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--icon-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color var(--main-transition);
}

.clients-icon {
  fill: var(--icon-color);
  transition: fill var(--main-transition);
}

.clients-icon-link:hover {
  border-color: var(--accent);
}

.clients-icon-link:hover .clients-icon {
  fill: var(--accent);
}

/* Портфолио */

.portfolio .menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-menu {
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  border-color: transparent;
  color: var(--secondary-text-color);

  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;

  transition: background-color var(--main-transition), box-shadow var(--main-transition),
    color var(--main-transition);
}

.menu .item:not(:last-child) {
  margin-right: 8px;
}

.button-menu:hover,
.button-menu:focus {
  background-color: var(--accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--invert-text-color);
}

/* Карточки и сетка - Портфолио */

.portfolio .cards {
  display: flex;
  flex-wrap: wrap;

  margin-right: calc(-1 * var(--card-set-gap));
  margin-bottom: calc(-1 * var(--card-set-gap));
}

.portfolio-card {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-right: var(--card-set-gap);
  margin-bottom: var(--card-set-gap);
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;

  transition: box-shadow var(--main-transition);
}

.portfolio-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card:hover .hidden-text {
  transform: translateY(0%);
}

.portfolio-card .content {
  padding: 20px 24px;
}

.portfolio-card .title {
  margin-bottom: 5px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-card .wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-card .text {
  font-size: 16px;
  line-height: 1.9;
}

.portfolio-card .hidden-text {
  position: absolute;
  top: 0;
  color: var(--invert-text-color);
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform var(--main-transition);
}

/* Модалка */

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity var(--main-transition), visibility var(--main-transition);
}

.overlay.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform var(--main-transition);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 10px;

  background: var(--primary-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.close-icon {
  fill: var(--logo-color);
  transition: fill var(--main-transition);

}

.modal-close:hover .close-icon,
.modal-close:focus .close-icon{
  fill: var(--accent);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title{
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color:var(--secondary-text-color);
margin-bottom: 12px;
}

.modal-inputs{
  margin-bottom: 20px;
}

.modal-field.check{
margin-bottom: 30px;
}

.modal-input,
.input-textarea{
  outline: none;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding: 12px 42px;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: var(--input-text-color);
  transition: border var(--main-transition); 

}

.modal-input:focus,
.input-textarea:focus{
  border: 1px solid var(--accent);
}

.input-wrap{
  position: relative;
  margin-top: 4px;
}

.input-icon{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  fill: var(--secondary-text-color);
  transition: fill var(--main-transition); 
}

.modal-input:focus + .input-icon{
  fill: var(--accent);
}

.input-textarea{
  margin-top: 4px;
  padding: 12px 16px;
  height: 120px;
  resize: none;
}

.input-textarea::placeholder{
  font-weight: 400;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.01em;

color: rgba(117, 117, 117, 0.5);
}

.check-text,
.offer-link{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--primary-text-color);
display: flex;
justify-content: center;
}

.check-text span{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid #303030;
  border-radius: 2px;
  margin-right: 10px;
  transition: background-color var(--main-transition), border var(--main-transition); 

}

.check-icon{
  fill:transparent;
  transition: fill var(--main-transition); 

}

.input-check:checked + .check-text span{
  background-color: var(--accent);
  border: none;
}

.input-check:checked + .check-text .check-icon{
  fill: var(--primary-background-color);
}


.offer-link{
  color: var(--accent);
  text-decoration: underline var(--accent);
}

.button-wrap{
  text-align: center;
}

.modal-button{
  display: inline-block;
  background-color: var(--accent);
  border-radius: 4px;
  border-color: transparent;
  color: var(--invert-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 55px;
  transition: background-color var(--main-transition); 
}

.modal-button:hover {
  cursor: pointer;
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--button-hover);
}

/* Subscribe form */
.subscribe-form{
  display: flex;
}

.subscribe-title{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--invert-text-color);
margin-bottom: 20px;
}

.subscribe-mail{
width: 358px;
height: 50px;
outline: none;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background-color: transparent;
padding: 15px 15px;
margin-right: 12px;
font-weight: 400;
font-size: 16px;
line-height: 1.25;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.subscribe-button{
  display: flex;
  align-items: center;
  background-color: var(--accent);
  border-radius: 4px;
  border: 0px transparent solid;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 29px;
}

.subscribe-button-text{
  color: var(--invert-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  margin-right: 10px;
}